p{
    text-align: justify;
}
h1,h2,h3,h4,h5,h6{
    color:#370050;
    font-weight: bold;
}
h1{
    text-decoration: overline underline solid 2px;
}
a{
    text-transform: uppercase;
    text-decoration: none;
    color: #17AB33;
}
li{
    list-style: none;
}
button{
    font-style: italic;
    text-decoration: underline solid;
    font-weight: bold;
}
